@charset "UTF-8";
main #visual {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  background: url(../images/hero-bg-md-01.gif) center;
  background-size: cover;
}
main #visual h1 {
  padding-top: 300px;
  text-align: center;
  font-size: 3.75rem;
  line-height: 1.3;
  letter-spacing: -0.07em;
}
main #visual h1 em {
  font-size: 3.75rem;
  color: #189bfa;
}
main #visual .category {
  margin: 30px 0;
  display: flex;
  justify-content: center; /* 텍스트 얼라인 넣으면 간격이 뜸 */
}
main #visual .category a {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  display: inline-block;
  font-weight: 600;
  position: relative;
}
main #visual .category a::after {
  content: "";
  width: 2px;
  height: 100%;
  display: inline-block;
  background: #aaa;
  position: absolute;
  left: 0;
  top: 0;
}
main #visual .category a:first-child {
  background: #ff5252;
  color: #fff;
  border-radius: 15px 0 0 15px; /*border-top-left-radius:20px;
border-bottom-left-radius:25px; */
}
main #visual .category a:first-child::after {
  display: none;
}
main #visual .category a:last-child {
  border-radius: 0 15px 15px 0;
}
main #visual .view_box {
  background: rgba(0, 0, 0, 0.4);
  width: 1000px;
  padding: 30px;
  margin: 0 auto 300px;
  padding: 30px;
}
main #visual .view_box #viewFrm fieldset {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  grid-template-rows: 50px;
}
main #visual .view_box #viewFrm fieldset #number_view {
  padding: 10px;
}
main #visual .view_box #viewFrm fieldset input {
  margin: 0 5px;
  padding: 0 15px;
}
main #visual .view_box #viewFrm fieldset #view_btn {
  background: #189bfa;
  color: #fff;
}
main #visual .view_box .list {
  padding: 20px 0 0;
  overflow: hidden;
}
main #visual .view_box .list a {
  color: #fff;
  position: relative;
  margin-right: 20px;
  padding: 10px;
  float: left;
}
main #visual .view_box .list a::after {
  content: "\f059";
  display: inline-block;
  font-weight: 600;
  color: #189bfa;
}
main #visual .view_box .list a:nth-child(1)::before, main #visual .view_box .list a:nth-child(2)::before, main #visual .view_box .list a:nth-child(3)::before, main #visual .view_box .list a:nth-child(4)::before {
  content: "";
  width: 1px;
  height: 50%;
  display: inline-block;
  position: absolute;
  left: -8px;
  top: 10px;
  background-color: #aaa;
}
main #visual .view_box .list a:first-child {
  margin-left: 0;
}
main #visual .view_box .list a:first-child::before {
  display: none;
}
main #visual .view_box .list a:last-child::after {
  display: none;
}
main #visual .view_box .list .sample_view {
  border: 1px #fff solid;
  border-radius: 25px;
  position: relative;
  float: right;
  padding: 10px 25px;
}
main #visual .view_box .list .sample_view::before {
  content: "\f15c";
  display: inline-block;
  color: #189bfa;
  position: absolute;
  left: 10px;
  top: 9px;
}
main .container {
  width: 1224px;
  margin: 0 auto;
  padding: 100px 0 0;
  text-align: center;
}
main .container .sub_title {
  position: relative;
  font-size: 0.9rem;
}
main .container .sub_title::after {
  content: "";
  background-color: #222;
  width: 20px;
  height: 2px;
  display: block;
  margin: 10px auto 20px;
}
main .container h1 {
  margin: 40px 0 30px;
  font-size: 1.8rem;
}
main .container .contents {
  color: #222;
}
main #video .tab {
  display: flex;
  justify-content: center;
}
main #video .tab a {
  margin-left: 50px;
  width: 130px;
  padding: 25px 0;
  margin: 30px 0;
  background: beige;
}
main #video .tab a:first-child {
  border-bottom: 4px solid #189bfa;
}
main #video .tab_contents .tab1 {
  position: relative;
}
main #video .tab_contents .tab1 video {
  width: 85%;
}
main #video .tab_contents .tab1 .img {
  position: absolute;
  right: 0px;
  top: 200px;
}
main #video .tab_contents .tab2 p {
  background: lime;
  padding: 200px 0;
}
main #menu .tab {
  display: flex;
  justify-content: center;
  border-bottom: #222 1px solid;
  margin: 30px 0;
}
main #menu .tab a {
  width: 125px;
  height: 50px;
  background: #fff;
  line-height: 50px;
  border: 1px solid #222;
  margin-left: 15px;
  position: relative;
  bottom: -1px;
}
main #menu .tab a:first-child {
  margin-left: 0;
  border-left: #000 1px solid;
  border-right: #000 1px solid;
  border-bottom: 0;
}
main #menu .tab a:first-child::before {
  content: "";
  display: block;
  background: #189bfa;
  height: 5px;
  position: absolute;
  top: 0;
  width: 100%;
}
main #menu .tab_contents {
  text-align: start;
}
main #menu .tab_contents .tab1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "title sub_title", "big_img list", "intro .";
}
main #menu .tab_contents .tab1 h2 {
  grid: "title";
  font-size: 1.2rem;
}
main #menu .tab_contents .tab1 h2:first-child {
  color: #189bfa;
  font-size: 1.5rem;
}
main #menu .tab_contents .tab1 h2 + h2 {
  grid: "sub_title";
}
main #menu .tab_contents .tab1 .big {
  grid: "big_img";
}
main #menu .tab_contents .tab1 .big img {
  width: 90%;
}
main #menu .tab_contents .tab1 ul {
  grid: "list";
}
main #menu .tab_contents .tab1 ul li:nth-child(2) h3 {
  border-top: 1px dashed #000;
  border-bottom: 1px dashed #000;
}
main #menu .tab_contents .tab1 .intro {
  grid: "intro";
}
main #menu .tab_contents .tab2, main #menu .tab_contents .tab3, main #menu .tab_contents .tab4 {
  background: pink;
  padding: 250px 0;
}/*# sourceMappingURL=main.css.map */